[Unit]
Description=Human Detector Service (Camera 2)
After=network-online.target ffmpeg-stream2.service
Wants=network-online.target ffmpeg-stream2.service

[Service]
# Load credentials from the private environment file
EnvironmentFile=/etc/detector.env

# Use the variables from the file
ExecStart=/usr/bin/python3 -u /usr/bin/human_detector.py \
    --stream "tcp://127.0.0.1:9091" \
    --camera-id "camera2" \
    --broker "${MQTT_BROKER}" \
    --port "${MQTT_PORT}" \
    --user "${MQTT_USER}" \
    --password "${MQTT_PASSWORD}" \
    --email-user ${EMAIL_USER} \
    --email-pass ${EMAIL_PASS} \
    --email-to ${EMAIL_TO} \
    --email-smtp-server ${EMAIL_SMTP_SERVER} \
    --email-smtp-port ${EMAIL_SMTP_PORT}

Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target