[Unit]
Description=FFmpeg Streamer (Managed): %i
Requires=hostapd.service dnsmasq.service mosquitto.service
After=network-online.target hostapd.service dnsmasq.service wg-quick@wg0.service mosquitto.service
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
Type=simple
SuccessExitStatus=SIGPIPE 141
Restart=always
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=10
NoNewPrivileges=yes
Environment=PYTHONUNBUFFERED=1

# Execute the Python manager, passing the instance name (%i)
ExecStart=/usr/bin/python3 /usr/bin/camera_manager.py %i

[Install]
WantedBy=multi-user.target