[Unit]
Description=Wyze Cam 1 -> TCP 9090 (ffmpeg)
Requires=hostapd.service dnsmasq.service
After=network-online.target hostapd.service dnsmasq.service wg-quick@wg0.service
StartLimitIntervalSec=0
StartLimitBurst=0

[Service]
SuccessExitStatus=SIGPIPE 141
Restart=always
RestartSec=1
KillSignal=SIGINT
TimeoutStopSec=5
NoNewPrivileges=yes
Environment=FFREPORT=file=/var/log/ffmpeg_cam1.log:level=32

ExecStart=/usr/bin/ffmpeg -hide_banner -loglevel info -nostdin \
  -rtsp_transport tcp -rtsp_flags prefer_tcp \
  -allowed_media_types video -analyzeduration 5M -probesize 50M \
  -fflags +genpts+igndts+discardcorrupt -reorder_queue_size 0 \
  -i rtsp://192.168.27.100:8554/360p \
  -map 0:v:0 -c:v copy -an -bsf:v h264_mp4toannexb \
  -f mpegts -mpegts_flags +resend_headers -flush_packets 1 -muxpreload 0 -muxdelay 0 \
  "tcp://0.0.0.0:9090?listen=1"

[Install]
WantedBy=multi-user.target
